<!-- Subnav and Action Buttons -->
<div class="ng-buttons right-align">
  <button routerLink="/project/add" class="waves-effect waves-light btn">
    <i class="material-icons right">control_point</i>Add Project</button>
</div>
<h1>Projects</h1>
<!-- Preloader -->
<div *ngIf="!projects" class="ng-loader">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>
<!-- List of Projects -->
<div class="ng-projects-wrap" *ngIf="projects">
  <div class="ng-project-list">
    <div class="col s12 ng-project-item" *ngFor="let project of projects">
      <div class="ng-cards card">
        <div class="card-content">
          <h5 class="card-title">{{project.name}}</h5>
          <p>{{project.detail}}</p>
        </div>
        <div class="card-action">
          <a class="ng-view-more" routerLink="/projects/{{project.id}}">View More</a>
          <a class="ng-delete" (click)="delete(project)">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>