@import "../app.component";

.ng-loader {
  margin-top: 250px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.ng-project-list {
  .ng-project-item {
    padding: 10px;
    
  }
  .selected {
    background: $white;
    color: $green;
  }
}
.ng-delete {
  color: $pink !important;
  position: absolute;
  right: 0px;
  font-size: 12px;
  &:hover {
    cursor: pointer;
    border-bottom: 1px solid $pink;
  }
}