@import "../app.component";

.ng-project-list {
    .ng-project-item {
        padding: 10px;

        &:hover {
            cursor: pointer;
        }
    }
    .selected {
        background: $white;
        color: $green;
    }
}