@import "../app.component";

.ng-loader {
  margin-top: 250px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.ng-project-list {
  .ng-project-item {
    padding: 10px;
    .ng-cards {
      box-shadow: none;
      .card-content {
        .card-title {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
        }
        p {
          font-size: 13px;
          line-height: 24px;
          color: $gray;
        }
      }
      .card-action {
          display: flex;
          align-items: center;
        .ng-view-more {
          border: 2px solid $green;
          padding: 0px 20px;
          line-height: 36px;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          color: $green;
          text-align: center;
          transition: all 0.3s ease;
          &:hover {
              background: $green;
              color: white;
          }
        }
        .ng-delete {
          color: $pink !important;
          position: absolute;
          right: 0px;
          font-size: 12px;

          &:hover {
            cursor: pointer;
            border-bottom: 1px solid $pink;
          }
        }
      }
    }
  }
  .selected {
    background: $white;
    color: $green;
  }
}
