@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700');
// Variables
$base-padding: 20px;
$orange: #ffab40;
$blue: #65a8fe;
$green: #2bbbad;
$pink: #e46f83;
$lightgray: #f2f2f2;
$gray: #666;
$white: #fdfdfd;
// Typography
.raleway {
  font-family: 'Raleway', sans-serif;
}

.opensans {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  @extend .opensans;
  font-size: 13px;
  line-height: 24px;
  color: $gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .raleway;
}

h1,
h2 {
  font-weight: 100;
}

h4 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h5 {
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

p, li {
  @extend .opensans;
  font-weight: 400;
  font-size: 13px;
}

// General Styles
a:hover {
  cursor: pointer;
}
.material-icons {
  vertical-align: middle;
}
.btn {
  margin: 10px 0;
}

// App Container
.ng-wrapper {
  .ng-container {
    margin-bottom: 0;
    .ng-main-content,
    .ng-sidebar {
      min-height: 100vh;
      overflow: hidden;
    }
    .ng-sidebar {
      padding: $base-padding;
    }
    .ng-main-content {
      background-color: $lightgray;
      padding: $base-padding;
    }
  }
}

.ng-cards {
  box-shadow: none;
  .card-content {
    .card-title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
    p {
      line-height: 24px;
      color: $gray;
    }
  }
  .card-action {
    display: flex;
    align-items: center;
    .ng-view-more {
      border: 2px solid $green;
      padding: 0px 20px;
      line-height: 36px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      color: $green !important;
      text-align: center;
      transition: all 0.3s ease;
      &:hover {
        background: $green;
        color: white !important;
      }
    }
  }
}
