<div class="ng-title">
  <h1>Dashboard</h1>
</div>
<div class="row">
  <div class="col s12">
    <div class="ng-cards card">
      <div class="card-content">
        <h5 class="card-title">Active Projects as of <span class="ng-today">{{fullDate}}</span></h5>
        <ul class="ng-project-list">
          <li class="ng-project-item" *ngFor="let project of activeProjects | slice:0:3;" routerLink="projects/{{project.id}}"><i class="material-icons" style="font-size: 16px;">attach_file</i>{{project.name}}</li>
        </ul>
      </div>
      <div class="card-action">
        <a class="ng-view-more" routerLink="/projects">See all projects</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m4">
    <div class="ng-cards card">
      <div class="card-content center-align">
        <h5 class="card-title">Total Projects</h5>
        <p class="ng-big-number">{{projects?.length}}</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="ng-cards card">
      <div class="card-content center-align">
        <h5 class="card-title">Active Projects</h5>
        <p class="ng-big-number">{{activeProjects?.length}}</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="ng-cards card">
      <!-- <div class="card-content center-align">
      </div> -->
    </div>
  </div>
</div>