<div class="ng-title">
  <h1>Dashboard</h1>
</div>
<div class="row">
  <div class="col s12 m4">
    <div class="ng-cards card">
      <div class="card-content">
        <h5 class="card-title">Active Projects</h5>
        <ul>
          <li *ngFor="let project of projects | slice:0:3;"><i class="material-icons" style="font-size: 16px;">attach_file</i> <a routerLink="projects/{{project.id}}">{{project.name}}</a></li>
        </ul>
      </div>
      <div class="card-action">
        <a routerLink="/projects">See all projects</a>
      </div>
    </div>
  </div>
  <div class="col s12 m8">
    <div class="ng-cards card">
      <div class="card-content">
        <h5 class="card-title">Statistics</h5>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m4">
    <div class="ng-cards card">
      <div class="card-content">
        <h5 class="card-title">Income</h5>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="ng-cards card">
      <div class="card-content">
        <h5 class="card-title">Expenses</h5>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="ng-cards card">
      <div class="card-content">
        <h5 class="card-title">Calendar</h5>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>
</div>