<div class="ng-title">
  <h1>Dashboard</h1>
</div>
<div class="row">
  <div class="col s12 m4">
    <div class="ng-cards card">
      <div class="card-content">
        <span class="card-title">Active Projects</span>
        <ul>
          <li *ngFor="let project of projects"><i class="material-icons" style="font-size: 16px;">attach_file</i> {{project.name}}</li>
        </ul>
      </div>
      <div class="card-action">
        <a href="/projects">See all projects</a>
      </div>
    </div>
  </div>
  <div class="col s12 m8">
    <div class="ng-cards card">
      <div class="card-content">
        <span class="card-title">Statistics</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m4">
    <div class="ng-cards card">
      <div class="card-content">
        <span class="card-title">Income</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="ng-cards card">
      <div class="card-content">
        <span class="card-title">Expenses</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="ng-cards card">
      <div class="card-content">
        <span class="card-title">Calendar</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>
</div>